/DiscountCalcEngine/bin/Debug
Debug
bin
/.vs/AcceptanceTestDemo/v15/.suo
/.vs/AcceptanceTestDemo/v15/Server/sqlite3/db.lock
/.vs/AcceptanceTestDemo/v15/Server/sqlite3/storage.ide
/.vs/AcceptanceTestDemo/v15/Server/sqlite3/storage.ide-shm
/.vs/AcceptanceTestDemo/v15/Server/sqlite3/storage.ide-wal
